body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f8f8f8;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

#inputContainer {
    text-align: center; /* Center the content horizontally */
    justify-content: center;
}

#taskInput {
    width: 200px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    text-align: center;
   
}

#addButton {
    padding: 8px 16px;
    background-color: #007bff;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

#addButton:hover {
    background-color: #0056b3;
}

#taskList {
    width: 280px;
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fff;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button {
    padding: 4px 12px;
    background-color: #e74c3c;
    
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #816663;
}
